@keyframes blink-text-red-500 {
  50% {
    color: transparent;
  }
}

.animate-blink-text-red-500 {
  animation: blink-text-red-500 1s infinite;
}


/*sidebar height*/
@media (max-width: 2560px) {
    .height {
        height: 100%;
    }
}
@media (min-width: 1500px) {
  .height {
      height: 100%;
  }
}
@media (min-height: 667px) {
  .height {
      height: 395vh;
  }
  .table_h{
    height: 40vh;
    margin-top: 12px;
  }
}

@media (min-width: 1604px) {
  .model {
      height: 400px;
  }
}


/* battery blink notification */
.blink-border {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    border-color: transparent;
    
  }
  50% {
    border-color: red;
  

  }
  100% {
    border-color: transparent;
   
  }
}




.animated-blink {
  animation: blink 1s infinite;
}




.chart_page{
  height: 100vh;
}


.chart-height{
  width: 520px;
  height: 200px;
  margin-left: 20px;
}




@media (min-width: 1604px) {
  .report_img{
    width: 200px;

  }
  .height{
    height: 100vh;
  }
  .card_size {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Make sure the container takes up the full height */
  }
  
  .main_height {
      height: 92vh;
  }
  .thickness_width{
    width: 100px;
    margin-top: 10px;
  }
  .table_h{
    height: 40vh;
    margin-top: 12px;
  }
  .chart-height{
    height: 250px;
    margin-top: 12px;
    margin-left: 10px;
    width: 90vh;
  
  }

  .card{
    margin-top: 20px;
    height: 17vh;
  }

}

.dropdown{
  margin:-29px -204px 0px 156px;
}

.red-bg {
  background-color: red;
}
.orange-bg {
  background-color: #ED7014;
}
.green-bg {
  background-color: #1AC48B;
}
/*chart css*/

/*-------------- Hover Sensor------------ */
.hovers:hover {
  cursor: pointer;
}
